{% extends 'base.html.twig' %}

{% block title %}Novo Veterinário{% endblock %}

{% block body %}
    {% include '_partials/_page_header.html.twig' with {
        title: 'Novo Veterinário',
        subtitle: 'Cadastrar novo profissional',
        back_button_path: path('app_veterinarian_index')
    } %}

    <div class="form-card">
        {% include 'veterinarian/_form.html.twig' with {button_label: 'Cadastrar'} %}
    </div>
{% endblock %}
