{% extends 'base.html.twig' %}

{% block title %}Editar Veterinário - {{ veterinarian.name }}{% endblock %}

{% block body %}
    {% include '_partials/_page_header.html.twig' with {
        title: 'Editar Veterinário',
        subtitle: 'Alterar dados de ' ~ veterinarian.name,
        back_button_path: path('app_veterinarian_index')
    } %}

    <div class="form-card">
        {% include 'veterinarian/_form.html.twig' with {button_label: 'Atualizar'} %}
    </div>
{% endblock %}
