{% extends 'base.html.twig' %}

{% block title %}Editar Gado - {{ cow.code }}{% endblock %}

{% block body %}
    {% include '_partials/_page_header.html.twig' with {
        title: 'Editar Gado',
        subtitle: 'Alterar dados de ' ~ cow.code,
        back_button_path: path('app_cow_index')
    } %}

    <div class="form-card">
        {% include 'cow/_form.html.twig' with {button_label: 'Atualizar'} %}
    </div>
{% endblock %}
