{% extends 'base.html.twig' %}

{% block title %}Nova Fazenda{% endblock %}

{% block body %}
    {% include '_partials/_page_header.html.twig' with {
        title: 'Nova Fazenda',
        subtitle: 'Cadastrar nova propriedade',
        back_button_path: path('app_farm_index')
    } %}

    <div class="form-card">
        {% include 'farm/_form.html.twig' with {button_label: 'Cadastrar'} %}
    </div>
{% endblock %}
