{% extends 'base.html.twig' %}

{% block title %}Editar Fazenda - {{ farm.name }}{% endblock %}

{% block body %}
    {% include '_partials/_page_header.html.twig' with {
        title: 'Editar Fazenda',
        subtitle: 'Alterar dados de ' ~ farm.name,
        back_button_path: path('app_farm_index')
    } %}

    <div class="form-card">
        {% include 'farm/_form.html.twig' with {button_label: 'Atualizar'} %}
    </div>
{% endblock %}
